Collision status: {{collision_status}}
please output a new set of parameter values based of the feedback image. Just output the JSON object mentioned above, without any other information. If collision status shown above is "Collision", you should just output "HOORAY!" without any other information.
